<div class="cook-content">
  <h3>料理の一覧表</h3>
  <table class="cook-index-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>料理名</th>
        <th>料理を作るポイント</th>
        <th>料理の写真</th>
        <% if user_signed_in? && current_user != @cooks %>
          <th>お気に入り</th>
        <% end %>
        <th>詳細</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @cooks.each do |cook| %>
        <tr>
          <th><%= cook.id %></th>
          <td data-title="料理名" class="cook-title">
            <%= cook.name %>
          </td>
          <td data-title="料理を作るのポイント" class="point-cook">
            <%= simple_format(cook.point) %>
          </td>
          <td data-title="料理の写真">
            <% if cook.image? %>
              <%= image_tag(cook.image.url, class: "cook-image") %>
            <% else %>
              <div></div>
            <% end %>
          </td>
          <% if user_signed_in? && current_user != cook.users %>
            <% if current_user.liked_by?(cook.id) %>
              <td data-title="お気に入り">
                <%= link_to 'お気に入りをはずす', destroy_like_path(cook), method: :DELETE %>
              </td>
            <% else %>
              <td data-title="お気に入り">
                <%= link_to "お気に入りに追加する", create_like_path(cook), method: :POST %>
              </td>
            <% end %>
          <% end %>
          <td data-title="詳細">
            <%= link_to "詳細", cook %>
          </td>
          <td data-title="編集">
            <%= link_to "編集", [:edit, cook] %>
          </td>
          <td data-title="削除">
            <%= link_to "削除", cook ,method: :delete, data: { confirm: "本当に削除しますか?" }, class: "onclick", onClick: "return Check()" %>
          </td>
        </tr>
      <% end %>  
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
  
    $(document).ready( function(){
      if (window.name != "test") {
        alert("再読みします");
        location.reload();
        window.name = "test";
      } else {
        window.name = "";
      }
    });
    
    function Check(){
      var checked = confirm("本当に削除しますか?");
      if (checked == true) {
        window.location.href = "https://new-cook-recipe.herokuapp.com/cooks";
      } else {
        return false;
      }
    }
  </script>
