<h3>料理の一覧表</h3>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>料理名</th>
      <th>料理を作る際のポイント</th>
      <th>料理の写真</th>
      <th>料理の分類</th>
      <th>お気に入り</th>
      <th>料理の詳細</th>
      <th>料理の編集</th>
      <th>料理の削除</th>
    </tr>
  </thead>
  <tbody>
    <% @cooks.each do |cook| %>
      <tr>
        <td><%= cook.id %></td>
        <td><%= cook.name %></td>
        <td><%= cook.point %></td>
        <td><img src="<%= cook.image%>" class="cook-image" ></td>
        <td><%= cook.target_cook %></td>
        <% if current_user.liked_by?(cook.id) %>
          <td>
            <%= link_to 'お気に入りをはずす', destroy_like_path(cook), method: :DELETE %>
          </td>
        <% else %>
          <td>
            <%= link_to "お気に入り", create_like_path(cook), method: :POST %>
          </td>
        <% end %>
        <td>
          <%= link_to "料理の詳細", cook %>
        </td>
        <td>
          <%= link_to "料理の編集", [:edit, cook] %>
        </td>
        <td>
          <%= link_to "料理の削除", cook,method: :delete, data: { confirm: "本当に削除しますか?" } %>
        </td>
      </tr>
    <% end %>  
  </tbody>
</table>

<p><%= link_to "料理の新規登録", new_cook_path %></p>
<p><%= link_to "レビューの一覧表", posts_path %></p>
