<h3>料理の詳細</h3>

<table>
  <tr>
    <th>料理名</th>
    <td><%= @cook.name %></td>
  </tr>
  <tr>
    <th>料理の写真</th>
    <td><img src="<%= @cook.image %>" class="cook-image"></td>
  </tr>
  <tr>
    <th>料理のポイント</th>
    <td><%= @cook.point %></td>
  </tr>
  <tr>
    <th>材料</th>
    <td><%= @cook.ingredient %></td>
  </tr>
  <tr>
    <th>作り方</th>
    <td><%= @cook.recipe %></td>
  </tr>
  <tr>
    <th>料理にかかった時間</th>
    <td><%= @cook.time %></td>
  </tr>
  <tr>
    <th>料理の分類</th>
    <td><%= @cook.target_cook %></td>
  </tr>
</table>

<h3>新規レビュー</h3>

<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :nickname, "投稿者の名前" %></th>
      <td><%= f.text_field :nickname %></td>
    </tr>
    <tr>
      <th><%= f.label :content, "レビュー内容" %></th>
      <td><%= f.text_area :content %></td>
    </tr>
  </table>
  <%= f.hidden_field :cook_id, value: @cook.id %>
  <%= f.hidden_field :user_id, value: @user_id %>
  <div>
    <ul>
      <li><%= f.submit "レビューを完了する" %></li>
    </ul>
  </div>
<% end %>
<div>
  <ul>
    <li>
      <%= link_to "料理の一覧表に戻る", cooks_path %>
    </li>
    <li>
      <%= link_to "料理の編集に戻る", [:edit, @cook] %>
    </li>
  </ul>
</div>

<h3>レビュー一覧表</h3>

<table>
  <thead>
    <tr>
      <th>レビュー内容</th>
      <th>レビューした日付</th>
      <th>投稿者（User _id)</th>
      <th>投稿者の名前</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= post.created_at.to_s(:datetime_jp) %></td>
        <td><%= post.user_id %></td>
        <td><%= post.nickname %></td>
      </tr>
    <% end %>
  </tbody>
</table>