<% provide :title, @cook.name %>
<h3>料理の詳細</h3>
<table class="cook-table">
  <tr>
    <th>料理名</th>
    <td><%= @cook.name %></td>
  </tr>
  <tr>
    <th>料理の写真</th>
    <td><img src="<%= @cook.image %>" class="cook-image"></td>
  </tr>
  <tr>
    <th>料理のポイント</th>
    <td><%= simple_format(@cook.point) %></td>
  </tr>
  <tr>
    <th>材料</th>
    <td><%= simple_format(@cook.ingredient) %></td>
  </tr>
  <tr>
    <th>作り方</th>
    <td><%= simple_format(@cook.recipe) %></td>
  </tr>
  <tr>
    <th>料理にかかった時間</th>
    <td><%= @cook.time %></td>
  </tr>
  <tr>
    <th>料理の分類</th>
    <td><%= @cook.target_cook %></td>
  </tr>
</table>
<%= render "new_post" %>
<div class="cook-box">
  <p> <%= link_to "料理の編集に戻る", [:edit, @cook], class:"cook-box-btn" %></p>
</div>
<%= render "index_post" %>
