<h3>お気に入り済みの料理</h3>
<table class="cook-index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>料理名</th>
      <th>料理の作る際のポイント</th>
      <th>料理の写真</th>
      <th>料理の詳細</th>
    </tr>
  </thead>
  <tbody>
    <% if @like_list.present? %>
      <% @like_list.each do |cook| %>
        <tr>
          <th><%= cook.id %></th>
          <td data-title="料理名" class="cook-title"><%= cook.name %></td>
          <td data-title="料理の作る際のポイント" class="point-cook"><%=  simple_format(cook.point) %></td>
          <td data-title="料理の写真">
            <%= image_tag(cook.image.to_s, class: "cook-image") %>
          </td>
          <td data-title="料理の詳細">
            <%= link_to "料理の詳細", cook %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
