<div class="content">
  <div class="cookImage">
    <img src="https://mi-journey.jp/foodie/wp-content/uploads/2020/05/200599ethnic1.jpg" alt="料理の写真" >
  </div>
  <div class="cook-search" style="margin-block: auto;">
    <h1>料理を検索する</h1>
    <%= search_form_for @q, url: search_cooks_path do |f| %>
      <div>
        <%= f.label :name_cont, "料理名" %>
        <%= f.search_field :name_cont %>
      </div>
      <div>
        <%= f.label :time, "料理にかかった時間" %>
        <%= f.radio_button :time_lteq, '' %>指定しない
        <%= f.radio_button :time_lteq, '20' %>20分未満
        <%= f.radio_button :time_lteq, '30' %>30分未満
        <%= f.radio_button :time_lteq, '40' %>40分未満
        <%= f.radio_button :time_lteq, '50' %>50分未満
        <%= f.radio_button :time_gteq, '60' %>1時間以上
      </div>
      <div>
        <%= f.label :ingredient_cont, "食材" %>
        <%= f.search_field :ingredient_cont %>
      </div>
      <div>
        <%= f.label :target_cook, "料理の分類" %>
        <%= f.radio_button :target_cook_cont, '' %>指定なし
        <%= f.radio_button :target_cook_cont, '洋風' %>洋風
        <%= f.radio_button :target_cook_cont, '和風' %>和風
        <%= f.radio_button :target_cook_cont, '中華' %>中華
        <%= f.radio_button :target_cook_cont, '肉類' %>肉類
        <%= f.radio_button :target_cook_cont, '魚類' %>魚類
        <%= f.radio_button :target_cook_cont, '卵' %>卵
        <%= f.radio_button :target_cook_cont, '菓子類' %>菓子類
        <%= f.radio_button :target_cook_cont, '野菜' %>野菜
        <%= f.radio_button :target_cook_cont, 'ご飯もの' %>ご飯もの
        <%= f.radio_button :target_cook_cont, 'パン' %>パン
        <%= f.radio_button :target_cook_cont, '麺類' %>麺類
        <%= f.radio_button :target_cook_cont, 'お弁当' %>お弁当
      </div>
      <p><%= f.submit "検索" %></p>
    <% end %>
    <div>
      <p><%= link_to "料理の一覧表", cooks_path %></p>
      <p><%= link_to "レビューの一覧表", posts_path %></p>
    </div>
  </div>
</div>
<section>
  <h3 class="recommend-cook">おすすめ料理</h3>
  <div class="other-cook-image">
    <div class="other-cook">
      <img src ="https://liginc.co.jp/wp-content/uploads/2014/10/paspas.jpg" alt="麺類">
      <p class="cook-name">麺類</p>
    </div>
    <div class="other-cook">
      <img src ="https://www.aussie-fan.co.jp/contents/wp-content/uploads/2017/09/%E3%83%A1%E3%82%A4%E3%83%B3%E3%82%92%E6%B1%BA%E3%82%81%E3%81%9F%E4%BE%8B_0921.jpg" alt="洋風">
      <p class="cook-name">洋風</p>
    </div>
    <div class="other-cook">
      <img src ="https://www.nairestyle.com/html/upload/save_image/1126141518_61a06d6610511.jpg" alt="菓子類">
      <p class="cook-name">菓子類</p>
    </div>
    <div class="other-cook">
      <img src ="https://www.nikon-image.com/enjoy/life/familyphoto/img/technique14/pic_01_l.jpg" alt="卵">
      <p class="cook-name">卵</p>
    </div>
    <div class="other-cook">
      <img src ="https://fumakilla.jp/foryourlife/foryourlife_files/2021/10/%E7%94%BB%E5%83%8F1-4.jpg" alt="お弁当">
      <p class="cook-name">お弁当</p>
    </div>
  </div>
</section>
