<h3>料理の詳細</h3>
<table class="cook-table">
  <tr>
    <th>料理名</th>
    <td><%= @post.cook.name %></td>
  </tr>
  <tr>
    <th>料理の写真</th>
    <td>
      <%= image_tag(@post.cook.image_url, class: "cook-image") %>
    </td>
  </tr>
  <tr>
    <th>料理のポイント</th>
    <td><%= @post.cook.point %></td>
  </tr>
  <tr>
    <th>材料</th>
    <td><%= @post.cook.ingredient %></td>
  </tr>
  <tr>
    <th>作り方</th>
    <td><%= @post.cook.recipe %></td>
  </tr>
  <tr>
    <th>料理にかかった時間</th>
    <td><%= @post.cook.time %></td>
  </tr>
  <tr>
    <th>料理の分類</th>
    <td><%= @post.cook.target_cook %></td>
  </tr>
</table>
