<% provide :title, @post.cook.name %>
<h3>レビューの編集</h3>

<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :nickname, "投稿者の名前" %></th>
      <td><%= f.text_field :nickname %></td>
    </tr>
    <tr>
      <th><%= f.label :content, "レビュー内容" %></th>
      <td><%= f.text_area :content %></td>
    </tr>
  </table>
  <div>
    <ul>
      <li><%= f.submit "編集を完了する" %></li>
      <li><%= link_to "レビューの一覧表", posts_path %></li>
      <li><%= link_to "レビューの詳細", post_path %></li>
      <li><%= link_to "料理の一覧表", cooks_path %></li>
    </ul>
  </div>
<% end %>