<% provide :title, @post.cook.name %>
<h3>レビューの編集</h3>
<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :nickname, "投稿者の名前" %></th>
      <td><%= f.text_field :nickname %></td>
    </tr>
    <tr>
      <th><%= f.label :content, "レビュー内容" %></th>
      <td><%= f.text_area :content ,class: "post-content" %></td>
    </tr>
  </table>
  <div class="post-box">
    <p><%= f.submit "編集を完了する", class: "post-btn" %></p>
    <p><%= link_to "レビューの詳細", post_path , class: "post-box-btn" %></p>
  </div>
<% end %>