<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>  
    <!--ログイン、ログアウトのメッセージ--><!--フラッシュメッセージ-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "shared/fotter" %>
  </body>
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
     
    /*ナビの項目を選択をしたら文字色が変わる*/
    $('.menu-list').click(function() {
      $(this).css('color', '#ffa500');
    });
    
    /*ナビが乗った時に、ナビが表示される*/
    $(function(){
      $('#dropdown, .menu-bar').hover(
        function(){
          $('.menu-bar, #dropdown').fadeIn();
        },
        function(){
          $('.menu-bar').fadeOut();
        }
        );
    }); 
    
    /*ナビのところを表示させる(クリックした時に）*/
    $('#dropdown').click(function() {
      $('.menu-bar, #dropdown').show();
    });
    
    /*ロゴを表示させる*/
    $('.logo').fadeIn('show');
      
    /*ロゴをクリックしたら、回転する*/
    $("#hader-logo .logo").hover(function() {
      $(this).stop().animate({zIndex:1},{
        duration:1000,
        step:function(now){
          $(this).css({transform:'rotateY(' + (now * 1080) + 'deg)'});
        },
        complete:function(){
          $(this).css('zIndex', 0);
        }
      })
    },function() {
      $(this).css({transform:'rotateY(0deg)'});
    });

    /*画像が動く Y軸に動く*/
    $(".cookImage").hover(function() {
      $(this).stop().animate({zIndex:1},{
        duration:1000,
        step:function(now){
          $(this).css({transform:'rotateY(' + (now * 1080) + 'deg)'});
        },
        complete:function(){
          $(this).css('zIndex', 0);
        }
      })
    },function() {
      $(this).css({transform:'rotateY(0deg)'});
    });

    /*画像が動く x軸に動く*/
    $(".cook-other-image").hover(function() {
      $(this).stop().animate({zIndex:1},{
        duration:800,
        step:function(now){
          $(this).css({transform:'rotateX(' + (now * 720) + 'deg)'});
        },
        complete:function(){
          $(this).css('zIndex', 0);
        }
      })
    },function() {
      $(this).css({transform:'rotateX(0deg)'});
    });

    /*カーソルに乗ったときにボタンの色が変わる*/
    $(function() {
      $(".cook-btn, .cook-box-btn, .post-btn, .post-box-btn, .search-btn, .header-login-btn, .gest-login-buttan").hover(function() {
        $(this).css("background-color", "#ff8000");
      }, function() {
        $(this).css("background-color", "#ffa500");
      });
    });
    
    /*料理一覧表の削除ボタンが押されると、料理の一覧表に行く（３秒） (本番環境だけ）*/
    /*料理の編集、料理の新規登録の完了ボタンを押すと、料理の一覧表に行く（本番環境だけ)*/
    /*$(".onclick").on("click", function() {
      setTimeout(function() {
        window.location.href= "https://new-cook-recipe.herokuapp.com/cooks/";
      }, 3000);
    });
    
    window.addEventListener('pageshow', function (event) {
      if (event.persisted) {
      // bfcache発動時の処理
        window.location.reload();
      }
    }); */
    
    $(".onclick").on("click", function() {
      window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
          setTimeout(function() {
            window.location.href= "https://new-cook-recipe.herokuapp.com/cooks/";
          }, 3000);
          window.location.reload();
        }  
      });
    });
      
  </script>
</html>
